@await Html.PartialAsync("_Partial/_Slider")

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    @await Html.PartialAsync("_Partial/_Category-products")
                    @await Html.PartialAsync("_Partial/_Brands-products")
                    @await Html.PartialAsync("_Partial/_Price-range")
                    @await Html.PartialAsync("_Partial/_Shipping")
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                @await Html.PartialAsync("_Partial/_Features-items")
                @await Html.PartialAsync("_Partial/_Category-tab")
                @await Html.PartialAsync("_Partial/_Recommended-items")
            </div>
        </div>
    </div>
</section>